{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
        <p>{{ message.text }}</p>
        {% if not user.id == g.user.id %}
        <form action="/messages/{{ message.id }}/like" method="POST">
          {{ g.csrf_form.hidden_tag() }}
          <button class="btn btn-link">
            <i class="bi bi-hand-thumbs-up"></i>
          </button>
        </form>
        {% endif %}
      </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}